@import "../../styles.scss";

.content {
  @include dF();
  @include pad();
  @include contentmax();
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 48px;
  gap: 20px;

  .back-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 500ms ease;

    &:hover {
      transform: scale(1.2) translateY(-5px);
      @include glow();
    }
  }

  @media (max-width: 768px) {
    padding: 0 40px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  @media (max-width: 500px) {
    padding: 0 20px;
    margin-top: 24px;
    margin-bottom: 24px;

    .content {
      max-width: 300px !important;
      width: 300px !important;
    }

    .privacy-text {
      max-width: 380px;
      padding-left: 10px;
      padding-right: 10px;
      text-wrap: wrap;

      a {
        text-wrap: wrap;
        max-width: 380px;
      }
    }
  }

  @media (max-width: 420px) {
    padding: 0 20px;
    margin-top: 24px;
    margin-bottom: 24px;

    .content {
      max-width: 280px !important;
      width: 280px !important;
    }

    .privacy-text {
      max-width: 280px;
      padding-left: 10px;
      padding-right: 10px;
      text-wrap: wrap;

      a {
        text-wrap: wrap;
        font-size: 12px !important;
      }
    }

    h1 {
      font-size: 20px !important;
      max-width: 100px;
    }
  }
}

@media (max-width: 400px) {
  .privacy-text {
    h1 {
      font-size: 12px; // Feste Größe wie gewünscht
      max-width: 100%; // Keine Breitenbeschränkung
      word-break: break-word; // Sicherstellen, dass "Datenschutzerklärung" umbricht
    }
    a {
      font-size: 0.8rem;
      max-width: 100%; // Links nutzen volle Breite
      word-break: break-all; // URLs umbrechen
    }
  }

  .german-privacy {
    max-width: 300px;
  }
}

h2,
h3 {
  margin-bottom: 12px;
  margin-top: 12px;
}

h1 {
  @media (max-width: 400px) {
    font-size: 20px;
  }
}
