@import "../../styles.scss";

.content{
    @include dF();
    @include pad();
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 48px;
}

h2{
    margin-bottom: 12px;
    margin-top: 12px;
}

h3{
    margin-bottom: 12px;
    margin-top: 12px;

}