<section class="hero-section">
  <div class="hero-content">
    <div class="hero-wrapper">
      <img
        src="../../../assets/img/01_hero/marci.png"
        class="hero-picture"
        alt=""
      />

      <div class="hero-name">
        <p class="intro-text">I am</p>
        <div class="name_subtitle">
          <h1>Marcel Steffen</h1>
          <h2>FRONTEND DEVELOPER</h2>
          <div class="btn-container">
            <a href="#contact-section">
              <button class="btn-primary">
                {{ "hero.talk" | translate }}
              </button></a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="socials">
      <div class="line"></div>
      <a href="https://github.com/Marcicode93" target="_blank">
        <img src="../../../assets/img/01_hero/Property 1=Default.png" alt="" />
      </a>
      <a
        href="https://www.linkedin.com/in/marcel-steffen-3b650b305/"
        target="_blank"
      >
        <img
          src="../../../assets/img/01_hero/Property 1=Default-2.png"
          alt=""
        />
      </a>
      <a href="mailto:marcel.steffen@hotmail.de">
        <img src="../../../assets/img/01_hero/Property 1=Default-3.png" alt=""
      /></a>

      <p class="email">marcel.steffen&#64;hotmail.de</p>
    </div>
  </div>
</section>
