@import "../../../styles.scss";

.content {
  @include dF();
  @include pad();
  @include contentmax();
  margin-top: 80px;
}

.left {
  padding-right: 200px;
}

table {
  margin-top: 12px;

  img {
    padding-right: 12px;
    max-width: 40px;
    @include dF();

    &:hover {
      transform: scale(1.2) translateY(-5px);
      transition: all 300ms ease-in-out;
      cursor: pointer;
    }
  }
}

td {
  padding-bottom: 12px;
}

.info {
  @include dF();
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
  margin-top: 12px;
}

h1 {
  font-size: 76px;
}

@media (max-width: 1400px) {
  .content {
    margin-top: 0px;
  }
  .profile-picture {
    width: 380px;
  }

  .left {
    padding-right: 100px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: 13px;
  }

  h3 {
    font-size: 20px;
  }

  .intro-text {
    font-size: 24px;
    margin-bottom: 68px;
  }
}

@media (max-width: 1000px) {
  .profile-picture {
    width: 300px;
  }

  .left {
    padding-right: 40px;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: 8px;
  }

  h3 {
    font-size: 20px;
  }

  .intro-text {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .btn-primary {
    padding: 8px 16px 8px 16px;
    margin-top: -30px;
  }
}

@media (max-width: 900px) {
  .profile-picture {
    width: 250px;
  }

  .left {
    padding-right: 20px;
  }

  h1 {
    font-size: 32px;
    letter-spacing: 4px;
  }

  h2 {
    font-size: 18px;
    letter-spacing: 6px;
  }

  h3 {
    font-size: 16px;
  }

  .intro-text {
    font-size: 18px;
    margin-bottom: 48px;
  }
}

@media (max-width: 860px) {
  .content {
    padding-left: 40px !important;
    padding-right: 40px !important;
    text-wrap: wrap;
  }

  .left {
    padding-right: 0px;
  }

  .profile-picture {
    display: none;
  }

  h1 {
    font-size: 32px;
    letter-spacing: 4px;
  }

  h2 {
    font-size: 18px;
    letter-spacing: 6px;
  }

  h3 {
    font-size: 16px;
  }

  .intro-text {
    font-size: 18px;
    margin-bottom: 48px;
  }
}

@media (max-width: 600px) {
  .content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
