<section id="about-me">
  <div class="content">
    <div class="left">
      <h1>About me</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
      voluptatem a dolores officia iusto quis dolorum reprehenderit. Iste nobis
      cum accusamus adipisci consequatur architecto nam reprehenderit unde
      distinctio facilis ea fuga saepe doloribus, officia quos aperiam sapiente
      cumque tempore expedita minus numquam. Mollitia, animi sequi labore
      laboriosam veritatis maxime eius facilis.

      <div class="info">
        <br />
        <div class="element">
          <img src="../../../assets/img/02_about/Capa_1.png" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            repellat incidunt quae nam! Sapiente, omnis sunt? Quod nihil saepe
            eligendi.
          </p>
        </div>

        <div class="element">
          <img
            src="../../../assets/img/02_about/Property 1=Default B.png"
            alt=""
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
            deleniti quas odio harum eligendi sint debitis totam quisquam
            explicabo ipsa.
          </p>
        </div>
        <div class="element">
          <img
            src="../../../assets/img/02_about/Property 1=Default B (1).png"
            alt=""
          />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus eius expedita veniam odit amet officiis quia delectus
            facere ratione ullam.
          </p>
        </div>
      </div>
    </div>

    <div class="right">
      <img src="../../../assets/img/02_about/marcel ellipse fin.png" alt="" />
    </div>
  </div>
</section>
