<section id="about-me">
  <div class="content" data-aos=”fade-up” data-aos-duration='3000'>
    <div class="left">
      <div class="info">
        <h1>About me</h1>
        I’m a passionate frontend developer specializing in Angular. My goal is
        to build modern, high-performance, and user-friendly web applications. I
        love solving complex challenges, and continuously expanding my
        knowledge. Let’s build amazing applications together!
        <br />

        <table>
          <tr>
            <td>
              <img src="../../../assets/img/02_about/place.png" alt="location-icon" class="first-img" />
            </td>
            <td>
              <p>
                I'm from Donaueschingen and open to relocating for an exciting
                job opportunity. At the same time, I highly value remote work
                and the flexibility it offers.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../assets/img/02_about/lightbulb.png"
                alt="lightbulb-icon"
              />
            </td>
            <td>
              <p>
                I'm open-minded and flexible, able to adapt to various
                situations with ease. I love learning new things and
                continuously expanding my skills to stay ahead
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <img
                src="../../../assets/img/02_about/puzzle.png"
                alt="puzzle-icon"
              />
            </td>
            <td>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus eius expedita veniam odit amet officiis quia
                delectus facere ratione ullam.
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="right">
      <img class="profile-picture" src="../../../assets/img/02_about/marcel ellipse fin.png" alt="" />
    </div>
  </div>
</section>
