<section id="about-me">
  <div class="content">
    <div class="left">
      <h1>About me</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
      voluptatem a dolores officia iusto quis dolorum reprehenderit. Iste nobis
      cum accusamus adipisci consequatur architecto nam reprehenderit unde
      distinctio facilis ea fuga saepe doloribus, officia quos aperiam sapiente
      cumque tempore expedita minus numquam. Mollitia, animi sequi labore
      laboriosam veritatis maxime eius facilis.
    </div>

    <div class="right">
      <img src="../../../assets/img/02_about/marcel ellipse fin.png" alt="" />
    </div>
  </div>
</section>
