@import '../../../styles.scss';

.content{
    @include dF();
    @include pad();
    margin-top: -200px;
}

.left{
    padding-right: 200px;
}

table{
    @include dF();
    flex-direction: column;

    img{
        padding-right: 12px;
    }
}

.info{
    @include dF();
    margin-bottom: 12px;
    margin-top: 12px;
}

h1{
    font-size: 76px;
}