@import '../../../styles.scss';

.content{
    @include dF();
    @include pad();
    margin-top: -200px;
}

.left{
    padding-right: 200px;
}

.element{
    @include dF();
    margin-bottom: 12px;
}

h1{
    font-size: 76px;
}