<section id="contact">
  <div class="content">
    <div class="headline">
      <div class="line"></div>
      <h1>Contact</h1>
    </div>

    <div class="elements">
      <div class="left">
        <span class="subtitle">Got a problem to solve?</span>
        <p>
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
          Need a Frontend developer? Contact me!
        </p>
      </div>
      <div class="right">
        <form (ngSubmit)="onSubmit()">
          <input   [(ngModel)]="contactData.name" name="name" type="text" placeholder="Your name" class="input-field" />
          <input   [(ngModel)]="contactData.email" name="email" type="email" placeholder="Your email" class="input-field" />
          <textarea [(ngModel)]="contactData.message"
            class="input-field ip3" name="message"
            placeholder="Your message"
            rows="30"
            cols="50"
          ></textarea>
          <div class="checkbox">
            @if (isChecked) {

            <img
              src="../../../assets/img/06_contact/Property 1=Checked.png"
              (click)="toggleCheckbox()"
              alt="checkbox-checked"
            />
            } @else {

            <img
              src="../../../assets/img/06_contact/Property 1=Default.png"
              (click)="toggleCheckbox()"
              alt="checkbox-unchecked"
            />
            }

            <p>
              I've read the <a href="">privacy policy</a> and agree to the
              processing of my data as outlined.
            </p>
          </div>
          <button type="submit" class="btn-primary">Send message!</button>
        </form>
      </div>
    </div>
  </div>
</section>
