@import "../../../styles.scss";

.headline {
  @include dF();
}

.content {
  @include contentmax();
}

.line {
  width: 500px;
  margin-left: -500px;
  margin-right: 12px;
  border: 2px solid rgba(75, 71, 255, 1);
}

.elements {
  @include dF();
  @include pad();
  align-items: flex-start;
  margin-top: 46px;
  margin-bottom: 46px;
}

.left {
  margin-right: 180px;
}

.right {
  @include dF();
  flex-direction: column;
  max-width: 500px;
}

form {
  @include dF();
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  align-items: flex-start;
}

.input-field {
  @include bg-colour();
  border: 2px solid rgba(75, 71, 255, 1);
  border-radius: 8px;
  width: 480px;
  margin-bottom: 24px;
  padding-left: 12px;

  &.ng-touched.ng-invalid {
    border-color: rgba(255, 0, 0, 0.5);
  }

  &.ng-touched.ng-valid {
    border-color: rgba(41, 231, 20, 0.6);
  }
}

.input-field::placeholder {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #888;
  font-size: 14px;
  transform: translateY(-10px);
}

textarea {
  &.ng-touched.ng-invalid {
    border-color: rgba(255, 0, 0, 0.5);
  }

  &.ng-touched.ng-valid {
    border-color: rgba(41, 231, 20, 0.6);
  }
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.error {
  color: red;
  font-size: 16px;
  margin-top: -16px;
  margin-bottom: 16px;
}

.ip3 {
  height: 160px;
}

.checkbox {
  @include dF();
  gap: 12px;
  margin-left: -4px;

  img {
    cursor: pointer;
  }

  a {
    @include lightBlue();
  }
}

.go-up {
  @include dF(flex-end);
  @include pad();
  margin-bottom: 48px;

  img {
    width: 32px;
    transition: all 500ms ease;

    &:hover {
      transform: scale(1.2) translateY(-5px);
      @include glow();
    }
  }
}

.error-message {
  font-size: 12px !important;
}

.btn-primary {
  @include primary();
  margin-top: 24px;
}

.shadow {
  width: 30%; /* Skaliert das Bild auf 50% der Breite des Containers */
  height: auto; /* Erhält das Seitenverhältnis des Bildes */
  position: absolute; /* Falls du das Bild positionieren möchtest */
  bottom: 0; /* Positioniert das Bild am unteren Rand des Containers */
  left: -10%; /* Oder andere Positionen je nach Bedarf */
  top: 350%;
}

@media (max-width: 1200px) {
  .left {
    margin-right: 60px;
  }
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: 13px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .checkbox {
    margin-bottom: 48px;
  }

  .left {
    text-wrap: wrap;
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .right {
    @include dF();
    flex-direction: column;
    max-width: 500px;
  }

  .elements {
    @include dF();
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
  }

  .input-field {
    border-radius: 8px;
    width: 400px;
    margin-bottom: 24px;
    padding-left: 12px;
  }

  .left {
    padding-right: 60px;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .btn-primary {
    padding: 8px 16px 8px 16px;
    margin-top: -30px;
  }
}

@media (max-width: 900px) {
  .input-field {
    border-radius: 8px;
    width: 360px;
    margin-bottom: 24px;
    padding-left: 12px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}

@media (max-width: 780px) {
  h1 {
    font-size: 32px;
    letter-spacing: 4px;
  }

  h2 {
    font-size: 18px;
    letter-spacing: 6px;
  }

  h3 {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .input-field {
    border-radius: 8px;
    width: 260px;
    margin-bottom: 24px;
    padding-left: 12px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
