<section id="contact">
  <div class="content">
    <div class="headline">
      <div class="line"></div>
      <h1>Contact</h1>
    </div>

    <div class="elements">
      <div class="left">
        <span>Got a problem to solve?</span>
        <p>
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
          Need a Frontend developer? Contact me!
        </p>
      </div>
      <div class="right">
        <input type="text" class="input-field"/>
        <input type="text" class="input-field"/>
        <input type="text" class="input-field ip3"/>
      </div>
    </div>
  </div>
</section>
