@import "../../../styles.scss";

.headline {
  @include dF();
}

.content {
  @include contentmax();
}

.line {
  width: 500px;
  margin-left: -500px;
  margin-right: 12px;
  border: 2px solid rgba(75, 71, 255, 1);
}

.elements {
  @include dF();
  @include pad();
  align-items: flex-start;
  margin-top: 46px;
  margin-bottom: 46px;
}

.left {
  margin-right: 180px;
}

.right {
  @include dF();
  flex-direction: column;
  max-width: 500px;
}

form {
  @include dF();
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  align-items: flex-start;
}

.input-field {
  @include bg-colour();
  border: 2px solid rgba(75, 71, 255, 1);
  border-radius: 8px;
  width: 480px;
  margin-bottom: 24px;
  padding-left: 12px;

  &.ng-touched.ng-invalid {
    border-color: rgba(255,0,0,0.5);
  }
  
  &.ng-touched.ng-valid {
    border-color: rgba(41, 231, 20,0.6); 
  }
}

.input-field::placeholder {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #888;
  font-size: 14px;
  transform: translateY(-10px);
}

textarea{
  &.ng-touched.ng-invalid {
    border-color: rgba(255,0,0,0.5);
  }
  
  &.ng-touched.ng-valid {
    border-color: rgba(41, 231, 20,0.6); 
  }
}

button:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
  opacity: 0.6;
}


.error {
  color: red;
  font-size: 16px;
  margin-top: -16px;
  margin-bottom: 16px;
}

.ip3 {
  height: 160px;
}

.checkbox {
  @include dF();
  gap: 12px;
  margin-left: -4px;

  img {
    cursor: pointer;
  }

  a {
    @include lightBlue();
  }
}

.error-message {
  font-size: 12px !important;
}

.btn-primary {
  @include primary();
  margin-top: 24px;
}
