<section id="contact">
  <div class="content">
    <div class="headline">
      <div class="line"></div>
      <h1>Contact</h1>
    </div>

    <div class="elements">
      <div class="left">
        <span class="subtitle">Got a problem to solve?</span>
        <p>
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
          Need a Frontend developer? Contact me!
        </p>
      </div>
      <div class="right">
        <input type="text" placeholder="Your name" class="input-field" />
        <input type="text" placeholder="Your email" class="input-field" />
        <textarea
          class="input-field ip3"
          placeholder="Your message"
          rows="30"
          cols="50"
        ></textarea>
        <div class="checkbox">
          <img
            src="../../../assets/img/06_contact/Property 1=Default.png"
            alt=""
          />
          <p>
            I've read the <a href="">privacy policy</a> and agree to the
            processing of my data as outlined.
          </p>
        </div>
        <button class="btn-primary">Send message!</button>
      </div>
    </div>
  </div>
</section>
