@import "../../../styles.scss";

nav {
  @include dF(space-between, center);
  @include pad();
  background-color: rgba(20, 29, 47, 1);
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  div {
    margin-right: 150px;
    a {
      font-size: 23px;
      padding-right: 12px;
      text-decoration: none;

      &:hover {
        @include lightBlue();
      }
    }
  }
}

.nav-links a,
.nav-links button {
  display: inline-block;
  width: auto;
  padding: 8px 16px;
  text-align: center;
}

.nav-links.open {
  display: flex;
  animation: fadeInMenu 0.3s ease-in-out forwards;
}

@keyframes fadeInMenu {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  cursor: pointer;
}

.flag-btn {
  padding: 0;
  border: none;
  margin-right: 12px;
  background-color: rgba(20, 29, 47, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.flag-img {
  width: 20px;
}

.active-flag .flag-img {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.8);
  border-radius: 20px;
  border: 2px solid #007bff;
}

.burger-menu {
  margin-right: 150px;
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;

  .menu-icon {
    position: absolute;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .hidden {
    opacity: 0;
    transform: rotate(180deg);
  }

  img {
    width: 20px;
  }

  .nav-links.open {
    display: flex;
    animation: fadeInMenu 0.5s ease-in-out forwards;
  }

  @keyframes fadeInMenu {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#header-name {
  font-size: 42px;
}

body {
  overflow-x: hidden;
}

@media (max-width: 1260px) {
  nav {
    padding: 12px 20px;

    .burger-menu {
      display: block;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      text-align: center;
      width: 100%;
      height: 100vh;
      left: -40px;
      background-color: rgba(20, 29, 47, 0.9);
      padding: 20px;
      border-radius: 10px;

      a {
        padding-bottom: 40px;
      }

      button {
        padding-bottom: 40px;
      }
    }

    .nav-links.open {
      display: flex;
      align-items: center;
    }
  }

  .flag-btn {
    padding: 0;
    border: none;
    gap: 12px;
    padding-bottom: 12px;
    background-color: rgba(20, 29, 47, 0.01);
  }
}

@media (max-width: 900px) {
  nav {
    padding: 8px 20px;
  }
  .burger-menu {
    margin-right: 120px;
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .flag-img {
    width: 30px !important;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: relative;
    left: -40px;
    top: 60px;
    text-align: center;
    height: 100vh;
  }
}

@media (max-width: 860px) {
  #header-name {
    font-size: 36px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    text-align: center;
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 500px) {
  .burger-menu {
    margin-right: 60px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    text-align: center;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
  }
}

@media (max-width: 1400px) and (max-height: 1100px) and (orientation: landscape) {
  div {
    margin-right: 400px;
    a {
      font-size: 23px;
      padding-right: 12px;
      text-decoration: none;

      &:hover {
        @include lightBlue();
      }
    }
  }
}
