@import "../../../styles.scss";

nav {
  @include dF(space-between, center);
  @include pad();
  background-color: rgba(20, 29, 47, 1);
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  div {
    margin-right: 150px;
    a {
      font-size: 23px;
      padding-right: 12px;
      text-decoration: none;

      &:hover {
        @include lightBlue();
      }
    }
  }
}

.burger-menu {
  margin-right: 150px;
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

#header-name {
  font-size: 42px;
}

body {
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  nav {
    padding: 12px 20px;

    .burger-menu {
      display: block;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0; // Menü soll rechts bleiben
      width: 200px;
      height: 200px;
      backdrop-filter: blur(5px);
      background-color: rgba(0, 0, 0, 0.8);
      padding: 20px;
      border-radius: 10px;
    }

    .nav-links.open {
      display: flex;
    }
  }
}
