@import "../../../styles.scss";

nav {
  @include dF(space-between, center);
  @include pad();
  margin-top: 12px;
  position: sticky;

  div {
    a {
      font-size: 23px;
      padding-right: 12px;
      text-decoration: none;

      &:hover {
        @include lightBlue();
      }
    }
  }
}

#header-name {
  font-size: 42px;
}
