@import "../../../styles.scss";

#portfolio {
  margin-top: 160px;
  @include pad();
  @include contentmax();
}

.headline {
  @include dF();
  gap: 24px;

  .line1 {
    width: 100px;
    border: 2px solid rgba(75, 71, 255, 1);
  }

  .line2 {
    width: 500px;
    border: 2px solid rgba(75, 71, 255, 1);
    margin-right: -400px;
  }
}

.tagline {
  @include dF();
  margin: 24px 0px 24px 0px;
}

.content-wrapper {
  @include dF();
  flex-direction: column;
}

.element img {
  width: 500px;
}

.element {
  @include dF();
  width: 900px;

  p {
    margin-top: 24px;
  }
}

.btn-left {
  @include secondary();

  &:hover {
    background-color: rgba(75, 71, 255, 1);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 250ms ease-in-out;
    box-shadow: 0 1px 8px rgba(255, 254, 254, 0.8);
  }
}

button{
  color: white;
}

.btn-right {
  @include bg-colour();
  border: 2px solid rgba(75, 71, 255, 1);
  margin-left: 36px;

  &:hover {
    background-color: rgba(75, 71, 255, 1);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 250ms ease-in-out;
    box-shadow: 0 1px 8px rgba(255, 254, 254, 0.8);
  }
}

button {
  margin-top: 12px;
  a {
    text-decoration: none;
  }
}

.special{
  flex-direction: row-reverse;
}

.subtitle {
  @include darkBlue();
}

@media (max-width: 1200px) {
  #portfolio {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headline,
  .tagline,
  .element {
    justify-content: center;
  }

  .content-wrapper {
    @include dF();
    flex-direction: column;
    text-align: center;
  }

  .tagline {
    @include dF();
    margin: 24px 0px 24px 0px;
    text-align: center;
  }

  .element img {
    width: 500px;
  }

  .element {
    flex-direction: column;

    p {
      margin-top: 24px;
    }
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  button {
    margin-top: 24px;
  }

  .btn {
    @include dF();
    gap: 24px;
  }

  .btn-left {
    margin-top: 24px;
  }

  .btn-right {
    justify-content: center;
    margin-top: 24px;
  }
}

@media (max-width: 1000px) {
  .element img {
    width: 400px !important;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .btn-primary {
    padding: 8px 16px 8px 16px;
  }
}

@media (max-width: 900px) {
  .element {
    width: 700px;
  }

  .left {
    padding-right: 20px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}

@media (max-width: 860px) {
  .element img {
    width: 300px !important;
  }

  .content {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}

@media (max-width: 760px) {
  .element {
    width: 500px;
  }

  .content {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .tagline {
    width: 280px;
    text-align: center;
  }

  .element img {
    width: 300px !important;
  }

  .element {
    width: 300px;
  }

  .content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
