<section id="portfolio">
  <div class="headline">
    <div class="line1"></div>
    <h1>Portfolio</h1>
    <div class="line2"></div>
  </div>

  <div class="tagline">
    <p>
      Explore a selection of my work here - check out these projects to see my
      skills in action.
    </p>
  </div>

  <div class="content-wrapper">
    <div class="element">
      <img src="../../../assets/img/04_portfolio/mockuper-2.png" alt="" />
      <div class="right">
        <h2>Join</h2>
        <span class="subtitle"
          >Angular | TypeScript | HTML | CSS | Firebase</span
        >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat
          minus labore neque ex vero ut tempora quam velit tempore.
        </p>

        <div class="btn">
          <button class="btn-left btn-primary">
            <a href="">Live test</a>
          </button>
          <button class="btn-right btn-primary"><a href="">GitHub</a></button>
        </div>
      </div>
    </div>
    <div class="element">
      <img src="../../../assets/img/04_portfolio/mockuper-2.png" alt="" />
      <div class="right">
        <h2>El Pollo Loco</h2>
        <span class="subtitle">JavaScript | HTML | CSS</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat
          minus labore neque ex vero ut tempora quam velit tempore.
        </p>

        <div class="btn">
          <button class="btn-left btn-primary">
            <a href="">Live test</a>
          </button>
          <button class="btn-right btn-primary"><a href="">GitHub</a></button>
        </div>
      </div>
    </div>
    <div class="element">
      <img src="../../../assets/img/04_portfolio/pokedexfin.png" alt="" />
      <div class="right">
        <h2>Pokédex</h2>
        <span class="subtitle">JavaScript | HTML | CSS | API</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat
          minus labore neque ex vero ut tempora quam velit tempore.
        </p>

        <div class="btn">
          <button class="btn-left btn-primary">
            <a href="">Live test</a>
          </button>
          <button class="btn-right btn-primary"><a href="">GitHub</a></button>
        </div>
      </div>
    </div>
  </div>
</section>
