@import "../../styles.scss";

main {
    display: flex;
    @include contentmax();
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .back-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 500ms ease;
    margin-top: 12px;

    &:hover {
      transform: scale(1.2) translateY(-5px);
      @include glow();
    }
  }