<main>

    <div id="main-content">
      <div class="impressum-content">
        <h1>{{"imprint.imprint"|translate}}</h1>

        <p>
          Marcel Steffen<br />
          Danziger Str. 12A<br />
          78166 Donaueschingen
        </p>

        <h2>{{"imprint.contact" | translate}}</h2>
        <p>
          {{"imprint.phone"|translate}}: +49 176 20240491<br />
          E-Mail: marcel.steffen&#64;hotmail.de
        </p>

        <p>{{"imprint.source" | translate}}: <a href="https://www.e-recht24.de">eRecht24</a></p>
      </div>
    </div>
    <a routerLink="/"><img src="../../assets/img/07_footer/icons8-back-arrow-50.png" alt="arrow-back-icon" class="back-arrow"></a>
  </main>
