<section id="skills">
  <div class="content">
    <div class="left">
      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=html.png" alt="" />
        <p>HTML</p>
      </div>
      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=css.png" alt="" />
        <p>CSS</p>
      </div>
      <div class="element">
        <img
          src="../../../assets/img/03_skills/Property 1=JavScript.png"
          alt=""
        />
        <p>JavaScript</p>
      </div>
      <div class="element">
        <img
          src="../../../assets/img/03_skills/Property 1=Typescript.png"
          alt=""
        />
        <p>TypeScript</p>
      </div>
      <div class="element">
        <img
          src="../../../assets/img/03_skills/Property 1=Angular.png"
          alt=""
        />
        <p>Angular</p>
      </div>
      <div class="element">
        <img
          src="../../../assets/img/03_skills/Property 1=Firebase.png"
          alt=""
        />
        <p>Firebase</p>
      </div>
      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=Git.png" alt="" />
        <p>GitHub</p>
      </div>
      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=Api.svg" alt="" />
        <p>Rest API</p>
      </div>
      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=Scrum.png" alt="" />
        <p>Scrum</p>
      </div>

      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=Material Design.png" alt="" />
        <p>Material Design</p>
      </div>
      <div
        class="element special"
        (mouseover)="changeImage()"
        (mouseout)="resetImage()"
      >
        <img [src]="currentImage" id="continually-img" alt="" />
        <p>Continually learning</p>
      </div>
    </div>
    <div class="right">
      <h1>My skills</h1>

      <p>
        I have gained experience in building projects with different frontend
        technologies and concepts.
      </p>
      <br />
      <span class="looking"
        >Looking for <span class="another">another skill</span>?</span
      >
      <p>
        Feel free to contact me. I look forward to expanding my previous
        knowledge.
      </p>
      <button class="btn-primary"><a href="#contact">Get in touch</a></button>
    </div>
  </div>
</section>
