<section id="skills" data-aos="fade-left">
  <div class="content" data-aos="”fade-right”">
    <div class="left">
      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=html.png" alt="" />
        <p>HTML</p>
      </div>
      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=css.png" alt="" />
        <p>CSS</p>
      </div>
      <div class="element">
        <img
          src="../../../assets/img/03_skills/Property 1=JavScript.png"
          alt=""
        />
        <p>JavaScript</p>
      </div>
      <div class="element">
        <img
          src="../../../assets/img/03_skills/Property 1=Typescript.png"
          alt=""
        />
        <p>TypeScript</p>
      </div>
      <div class="element">
        <img
          src="../../../assets/img/03_skills/Property 1=Angular.png"
          alt=""
        />
        <p>Angular</p>
      </div>
      <div class="element">
        <img
          src="../../../assets/img/03_skills/Property 1=Firebase.png"
          alt=""
        />
        <p>Firebase</p>
      </div>
      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=Git.png" alt="" />
        <p>GitHub</p>
      </div>
      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=Api.svg" alt="" />
        <p>Rest API</p>
      </div>
      <div class="element">
        <img src="../../../assets/img/03_skills/Property 1=Scrum.png" alt="" />
        <p>Scrum</p>
      </div>

      <div class="element">
        <img
          src="../../../assets/img/03_skills/Property 1=Material Design.png"
          alt=""
        />
        <p>Material Design</p>
      </div>
      <div
        class="element special"
        (mouseover)="changeImage()"
        (mouseout)="resetImage()"
      >
        @if (showHoverImage) {

        <img [src]="hoverImage" alt="" class="hover-img" />
        }
        <img [src]="defaultImage" id="continually-img" alt="" />
        <p>Learning</p>
      </div>
    </div>
    <div class="right">
      <div class="order">
        <h1>{{ "my-skills.headline" | translate }}</h1>

        <p></p>
      </div>
      <br />

      <div class="last">
        <span class="looking">{{ "my-skills.sub-text2" | translate }}</span>
        <span class="another">{{ "my-skills.sub-text3" | translate }}</span>
        <span class="looking">?</span>
        <p>
          {{ "my-skills.contact" | translate }}
        </p>
        <button class="btn-primary">
          <a href="#contact-section"> {{ "my-skills.btn" | translate }}</a>
        </button>
      </div>
    </div>
  </div>
  <div id="p-section"></div>
</section>
