@import "../../../styles.scss";

.content {
  margin-top: 160px;
  @include pad();
  @include dF(space-between, flex-start);
  @include contentmax();
}

.left {
  padding-right: 160px;
  @include dF();
  flex-wrap: wrap;
  gap: 80px;
}

.right {
  align-items: flex-start !important;
}

.element {
  font-weight: 700;
  text-align: center;
}

.element img {
  max-width: 100px;
  transition: transform 0.3s ease-in-out;
}

#skills .element:hover img {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#skills .element p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  transition: color 0.3s ease-in-out;
}

#skills .element:hover p {
  @include lightBlue();
}

.looking,
.another {
  font-size: 28px;
  font-weight: 700;
}

.another {
  @include lightBlue();
}

.btn-primary {
  margin-top: 36px;
  @include primary;

  a {
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
  }
}

img:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .content {
    margin-top: 60px;
    @include pad();
    @include dF(space-between, flex-end);
    @include contentmax();
  }
  #skills .element p {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
  }

  .right {
    align-items: flex-end !important;
    justify-content: flex-end !important;
  }

  .element img {
    max-width: 60px;
    transition: transform 0.3s ease-in-out;
  }

  .left {
    padding-right: 40px;
    gap: 60px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: 13px;
  }

  h3 {
    font-size: 20px;
  }

  .intro-text {
    font-size: 24px;
    margin-bottom: 68px;
  }
}

@media (max-width: 1000px) {
  .content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .element img {
    max-width: 50px;
    transition: transform 0.3s ease-in-out;
  }

  .left {
    padding-right: 20px;
    gap: 40px;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: 8px;
  }

  h3 {
    font-size: 20px;
  }

  .intro-text {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .btn-primary {
    padding: 8px 16px 8px 16px;
    margin-top: 24px !important;
    margin-bottom: 24px;
  }
}

@media (max-width: 960px) {
  .right,
  .order {
    @include dF();
    flex-direction: column;
    align-items: flex-end !important;
    justify-content: flex-end !important;
    margin-bottom: 24px;
    text-align: end;
  }

  .btn-primary {
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  span {
    padding-left: 8px;
  }

  .content {
    flex-direction: column;

    .right {
      order: -2;

      .last {
        @include dF(flex-end, flex-end);
        span,
        p {
          @include dF(flex-end, flex-end);
          text-align: end;
        }
        flex-direction: column;
        order: 10;
      }
    }
    .left {
      padding-right: 0px;
      order: 0 !important;
      gap: 20px;
    }
  }

  .last {
    order: -17;
  }

  .element img {
    transition: transform 0.3s ease-in-out;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .intro-text {
    font-size: 18px;
    margin-bottom: 48px;
  }

  .looking {
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (max-width: 700px) {
  #skills .element p {
    font-size: 16px;
  }
  .content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .element img {
    max-width: 40px;
    transition: transform 0.3s ease-in-out;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .intro-text {
    font-size: 18px;
    margin-bottom: 48px;
  }
}

@media (max-width: 500px) {
  .left {
    gap: 16px;
  }

  .looking,
  .another {
    font-size: 18px;
    font-weight: 700;
  }

  .another {
    gap: 12px !important;
  }

  span {
    padding-left: 6px;
  }
}
