<footer>
  <div class="name_legal">
    <a href="/">
      <h1 class="footer-name">Marcel</h1>
    </a>
    <div class="links"></div>
    <a routerLink="data-privacy">{{ "footer.legal-notice" | translate }}</a>
    <a id="imprint" routerLink="imprint">{{ "footer.imprint" | translate }}</a>
  </div>
  <p>&copy; Copyright Marcel Steffen 2025</p>

  <div class="socials">
    <a href="https://github.com/Marcicode93" target="_blank">
      <img src="../../../assets/img/01_hero/Property 1=Default.png" alt="" />
    </a>
    <a
      href="https://www.linkedin.com/in/marcel-steffen-3b650b305/"
      target="_blank"
    >
      <img src="../../../assets/img/01_hero/Property 1=Default-2.png" alt="" />
    </a>
    <a href="mailto:marcel.steffen@hotmail.de">
      <img src="../../../assets/img/01_hero/Property 1=Default-3.png" alt=""
    /></a>
  </div>
</footer>
