@import "../../../styles.scss";

footer {
  @include dF(space-between);
  @include pad();
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 4px solid rgb(25, 203, 162);
}

h1 {
  font-size: 42px;
}

.socials {
  img {
    @include glow();
    width: 20px;
    height: 20px;
    padding-right: 24px;
  }
}
