@import "../../../styles.scss";

footer {
  @include dF(space-between);
  @include pad();
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 4px solid rgb(25, 203, 162);

  a {
    text-decoration: none;

    &:hover {
      color: rgb(31, 243, 194);
    }
  }
}

h1 {
  font-size: 42px;
}

#imprint {
  margin-left: 12px;
}

.socials {
  img {
    @include glow();
    width: 20px;
    height: 20px;
    padding-right: 24px;
  }
}
@media (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert alles horizontal */
    justify-content: center; /* Zentriert alles vertikal */
    text-align: center;
    padding: 40px;
    border-top: 4px solid rgb(25, 203, 162);
  }

  h1,
  h2,
  h3 {
    text-align: center;
    width: 100%;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    width: 100%;
  }

  .socials {
    display: flex;
    flex-direction: row; /* Icons nebeneinander */
    justify-content: center; /* Icons horizontal zentrieren */
    align-items: center; /* Falls die Icons unterschiedliche Höhen haben */
    gap: 16px; /* Abstand zwischen den Icons */
    width: 100%;
    margin-top: 24px;
    margin-left: 20px;
  }

  .socials img {
    display: block;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1000px) and (max-height: 1440px) {
  footer {
    margin-bottom: 120px;
  }
}

@media (max-width: 940px) and (max-height: 940px) {
  footer {
    margin-bottom: 120px;
  }
}

@media (max-width: 600px) {
  footer {
    margin-bottom: 120px;
  }
}

@media (max-width: 500px) {
  footer {
    margin-bottom: 120px;
  }
}
